@model MyUnsplash.Models.Image

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    
    <div class="add-form" id="addForm">
        <h4>Add a new photo</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-input">
            <div>
                @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "", @placeholder = "Suspendisse elit massa" } })
            </div>
            <div>
                <label for="UrlFile" name="UrlFile">Photo URL</label>
                @Html.EditorFor(model => model.UrlFile, new { htmlAttributes = new { @class = "", @placeholder = "https://images.unsplash.com/photo-1584395630827-860eee694d7b?ixlib=r..." } })
            </div>
        </div>

        <label for="File" name="File" class="file">
            Local Upload
            <input type="file" name="File" id="File" accept="image/*" />
        </label>

        <div class="form-button">
            <button type="button" class="cancel" id="cancel" onclick="hiddenForm()">Cancel</button>
            <button class="submit" type="submit">Submit</button>
        </div>
    </div>

}

<script>

</script>